<% layout('/layouts/boilerplate') -%>
    <style>
        body {
            /* background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 33%,#749e42 66%, #ffffff 100%);
            background-color: #85FFBD; */
            background-color: #85FFBD;
            background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
        }

        h1 {
            text-align: center;
            padding: 60px;
            font-size: 60px;
            color: rgb(21, 48, 20);
            text-shadow: 0px 0px 10px rgb(120, 117, 117);
        }

        .homecontent {
            text-align: center;
            font-size: 22px;
        }

        .btn {
            width: 15vw;
            background-color: #92FFC0;
            background-image: linear-gradient(109.6deg, rgba(61, 131, 97, 1) 11.2%, rgba(28, 103, 88, 1) 91.1%);
            margin: 100px auto;
            padding: 15px 40px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .main span {
            display: block;
        }

        .btn a {
            text-decoration: none;
            color: white;
        }
    </style>

    <body>
        <div class="mainfirst">
            <div class="main">
                <h1>Welcome to E-Waste Solutions<span>Your Guide to a Greener Future!</span></h1>
                <p class="homecontent">Welcome to E-Waste Solutions, you are go-to resource for tackling electronic
                    waste
                    sustainably! Discover practical tips to reduce, reuse, and recycle your old devices, protecting our
                    environment one gadget at a time. From responsible disposal methods to inspiring DIY projects, we're
                    here to empower you to make a positive impact. Explore educational resources, connect with a
                    community
                    of eco-conscious individuals, and stay updated on the latest in e-waste innovation. Join us on the
                    journey towards a cleaner, greener future for all!</p>
            </div>
            <div class="btn">
                <a href="/info" class="homebtn">Get More Info</a>
            </div>
        </div>

    </body>